<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
    <form action=# th:action="@{/error}" method="GET">
        <div class="alert alert-warning" role="alert">
            <h1 class="alert-heading">Error</h1>
            <p id="error-404" th:text="${notFoundStatus}" class="mb-0">404 msg</p>
            <p id="error-500" th:text="${serverErrorStatus}" class="mb-0">500 msg</p>
            <hr>
            <span>Something went wrong! Click <a id="home-link" th:href="@{/login}">here</a> to continue.</span>
        </div>
    </form>
</div>
</body>
</html>